
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.text-color{
    color: rgba(255, 255, 255, 1);
}

/* navbar related styles */
.display-flex{
    display: flex;
}
.brand{
    color: red;
}
.home-color{
    background-color: rgba(230, 83, 60, 1);
    border-radius: 8px;
    padding: 4px 4px;
}
.bg-light{
    background-color: #222222;
    margin-bottom: 100px;
    
}
.navbar{
    justify-content: space-between;

}
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    
}
.navbar{
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2rem;
}
.body{
    display: flex;
}
.healthy{
    margin-right: 90px;
    margin-left: 200px;
    height: 440px;
    width: 600px;
}
.healthy-title{
    font-weight: 700;
    font-size: 80px;
    color: rgba(255, 255, 255, 1);
}
.healthy-description{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
}
.button{
    display: flex;
    gap: 15px;
}
.btn-1{
    padding: 15px 45px;
    width: 225px;
    height: 55px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 15px;
    align-items: center;
    background-color: rgba(230, 83, 60, 1);
    color: rgba(255, 255, 255, 1);
    border: none;
}
.btn-2{
    padding: 15px 45px;
    width: 225px;
    height: 55px;
    border-radius: 40px;
    font-weight: 600;
    font-size: 15px;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    background-color: #111111;
  
}
.body-img{
    margin-top: 35px;
    margin-right: 215px;
    
    
}
#btn-3-work{
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 500;
    width: 200px;
    height: 100px;
    align-items: center;
    border-radius: 12px;
    color: rgba(250, 250, 249, 1);
    background-color: rgba(48, 48, 48, 0.54);
    margin-left: -680px;
    margin-top: -500px;
}
.btn-350{
    font-size: 1.25rem;
}
.btn-3{
    align-items: center;
    text-align: center;
}
.btn-350{
    text-align: center;
    font
}
.btn-3-description{
    font-size: 1rem;
    text-align: center;
    
}

/* .btn-3{
    padding: 20px 25px;
    width: 200px;
    height: 100px;
    border-radius: 12px;
    align-items: center;
    color: rgba(250, 250, 249, 1);
    background-color: rgba(48, 48, 48, 0.54);
    margin-left: -125px;
    margin-top: -500px;
    
} */
.btn-4{
    padding: 20px 25px;
    width: 200px;
    height: 100px;
    border-radius: 12px;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 250px;
    margin-top: -500px;
}
/* habit styles */
.habits{
    background-color: rgba(0, 0, 0, 1);
} 

.habit-header{
    font-size: 3rem;
    color: rgba(255, 255, 255, 1);
}
.habit-description{
    color: rgba(255, 255, 255, 0.5);
}
.habit{
    text-align: center;
}
.habits{
    margin-left: 200px;
    margin-right: 200px;
} 
 .inter-font{
    background-color: rgba(0, 0, 0, 1);
 }
.list-header{
    color: rgba(255, 255, 255, 1);
    /* text-align: center; */
}
.img-list{
    align-items: center;
    text-align: center;
}
.list-description{
    color: rgba(255, 255, 255, 0.5);
}
.body-list{
    display: flex;
    
    
}
.list-item{
    margin-right: 40px;
    text-align: center;
}



/* media quary */
@media screen and (max-width: 576px) {
    .body{
        display: flex;
}
.body-img{
    margin-top: 35px;
    margin-right: 400px;
    width: 100%;
}

